<li class="carte">
  {% if a.data.image %}<img src="{{ a.data.image }}" alt="" loading="lazy">{% endif %}
  <div class="carte-corps">
    <p class="meta"><time datetime="{{ a.data.date_atelier | dateIso }}">{{ a.data.date_atelier | dateFr }}</time></p>
    <h3><a href="{{ a.url }}">{{ a.data.title }}</a></h3>
    {% if a.data.resume %}<p>{{ a.data.resume }}</p>{% endif %}
  </div>
</li>
